$primary: #132043;
$secondary: #ffffff;

.title,
.sub-title {
  h2 {
    color: $primary;
    -webkit-text-fill-color: $primary; /* Will override color (regardless of order) */
    // -webkit-text-stroke-width: px;
    -webkit-text-stroke-color: $primary;
    font-weight: 900;
  }
}
